:root {
    --color-blue: #4ac6ff;
    --color-dark-blue: #00577f;
    --color-light-blue: rgb(213, 243, 255);
    --color-dark-grey: #121212;
}

body {
    font-family: Calibri, Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-dark-grey);
    margin: 0;
}

main {
    margin: 10px;
}

a {
    text-decoration: underline;
    color: var(--color-light-blue);
}

nav a {
    text-decoration: none;
    color: white;
}

nav {
    block-size: 4rem;
    background-color: var(--color-dark-blue);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    margin: 0 10px;
    padding: 0;

    list-style: none;
    align-items: center;
    block-size: 100%;
    font-size: 1.5rem;
}

h1, h2 {
    color: var(--color-blue);
}

h3 {
    font-weight: normal;
}

p, h3, li {
    color: var(--color-light-blue);
}

.column ul {
    @media (width > 800px) {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.column {
    margin-bottom: 50px;

    @media (width > 800px) {
        flex: 1;
    }
}

.column-image {
    text-align: center;
    flex: 0.75;
}

#home {
    @media (width > 800px) {
        display: flex;
        gap: 2rem;
    }
}

#resume section {
    margin-top: 50px;

    @media (width > 1200px) {
        margin-left: 25%;
        margin-right: 25%;
    }
}

#resume p {
    margin: 0.25rem;
}

#photo {
    inline-size: 10em;
}